body,
div,
html,
h1,
h2,
h3,
h4,
h5,
h6,
p,
header,
nav,
ul,
li,
img,
p,
footer,
button {
  padding: 0;
  margin: 0;
  border: 0;
  box-shadow: none;
}
body {
  font-family: "Poppins", sans-serif;
  background: #fff;
  color: #000;
  font-size: 1em;
}
.header {
  display: flex;
  font-size: 1em;
  text-transform: uppercase;
  font-weight: normal;
  align-items: center;
  justify-content: center;
}

.header a:hover {
  color: rgba(0, 0, 0, 0.7);
}
.header-logo {
  width: 30%;
}
.header-logo img {
  max-height: 100px;
}
.header-links {
  width: 40%;
}
.header-col i {
  margin-right: 10px;
}
.header-container {
  padding: 10px 20px;
}

a {
  text-decoration: none;
  color: #000;
}
.header-nav {
  list-style: none;
}
.header-nav li {
  display: inline-block;
  padding: 0 10px;
  margin-bottom: 5px;
}
.header-menu {
  position: relative;
}
.header-menu-item {
  list-style: none;
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 100%;
  background: #fff;
  border: 1px solid #ddd;
  overflow: auto;
  z-index: 2;
  transform: translateX(-100%);
}
.header-menu-item li {
  padding: 10px 20px;
  text-transform: capitalize;
}
.header-menu-item li:not(.links):hover {
  background: #ddd;
}
.header-menu-item li.active {
  background: #13df1b !important;
  color: #fff;
  border: 1px solid #000;
}
li > address {
  color: #13e11b;
  line-height: 1.5;
  font-style: normal;
}
ul.menu-icons {
  display: flex;
  align-items: center;
  list-style: none;
}
ul.menu-icons li {
  text-align: center;
}
.slide-in {
  animation: slide-in 0.5s forwards;
}

.slide-out {
  animation: slide-out 0.5s forwards;
}

@keyframes slide-in {
  100% {
    transform: translateX(0%);
  }
}

@keyframes slide-out {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
a:focus {
  outline: none;
}
.home-banner {
  height: 600px;
  margin: 30px 20px;
  position: relative;
  overflow: hidden;
}
.home-banner img {
  width: 100%;
}
.home-banner .banner-title {
  position: absolute;
  z-index: 1;
  top: 50px;
  left: 0px;
  max-width: 50%;
}

.home-banner .banner-title h1 {
  font-weight: 800;
  font-size: 1.5em;
  line-height: 1.5em;
}
.home-banner .banner-title p {
  margin-top: 30px;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.5em;
}
.home-banner .banner-title button {
  background: #1dbe24;
  color: #fff;
  margin-top: 40px;
  display: inline-block;
  padding: 15px 25px;
  font-weight: 900;
  cursor: pointer;
}
.home-banner .banner-title button:hover {
  opacity: 0.8;
}
.home-banner .nav-buttons {
  position: absolute;
  z-index: 1;
  bottom: 50px;
}
.home-banner .nav-buttons a {
  display: inline-block;
  background: rgba(196, 196, 196, 0.83);
  color: #000;
  font-size: 1.5em;
  margin: 10px;
  padding: 10px 20px;
}
.container {
  max-width: 1170px;
  margin: 0 auto;
}
@media (max-width: 1170px) {
  .container {
    margin: 0 30px;
  }
}
.login-modal {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  width: 100%;
  height: 130%;
  top: 0;
  z-index: 999;
  overflow: auto;
}
.login-modal .cancel-button {
  display: inline-block;
  position: absolute;
  top: 20px;
  right: 20px;
  background: #fff;
  border-radius: 50%;
  padding: 10px;
  font-size: 20px;
  line-height: 20px;
}
.login-box {
  background: #fff;
  border-radius: 6px;
  width: 80%;
  margin: 10% auto;
  padding: 30px;
}
.block-forms input[type="text"],
.block-forms input[type="password"],
.block-forms input[type="email"] {
  display: block;
  border: 1px solid #ddd;
  border-radius: 0;
  padding: 10px 20px;
  width: 100%;
}
.form-wrap {
  margin-bottom: 1rem;
}
label {
  display: inline-block;
  margin: 20px 0;
}
* {
  box-sizing: border-box;
}
.btn-primary {
  background: #1dbe24;
  color: #fff;

  display: inline-block;
  padding: 15px 25px;
  font-weight: 900;
  cursor: pointer;
  border: 0;
}
